* {
    padding: 0;
    margin: 0;
}

#app {
    width: 70%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

#todo-text {
    width: 400px;
    height: 25px;
    border: 1px solid #222222;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 50px;
    padding: 5px;
}

#todo-text:focus {
    border: 1px solid #222;
    box-shadow: 2px 1px 5px 3px blue;
    cursor: text;
}

.todo-list {
    list-style-type: none;
    width: 400px;
}

.todo-list > li {
    height: 40px;;
    border-bottom: 1px solid #6666;
    line-height: 40px;
    overflow: visible;
}

li > button {
    position: relative;
    top: 5px;
    height: 30px;
    width: 70px;
    float: right;
    background-color: #fff;
    border: 1px solid red;
    border-radius: 3px;
}

li>button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 2px 1px #cc0000;
}